.className {
	width: 100%;
	text-align: center;
	padding: 0 10px;
	background: #F1F1F1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
}

.search {
	position: absolute;
	left: 205px;
	top: 25px;
	height: 30px;
	width: 300px;
}

.type {
	position: absolute;
	height: 30px;
	padding-left: 1rem;
	padding-right: 1rem;
	left: 515px;
	top: 30px;
}

.searchButton {
	color: white;
	background: black;
	border: none;
	outline: none;
	height: 30px;
	display: block;
	padding-left: 1rem;
	padding-right: 1rem;
	position: absolute;
	left: 605px;
	top: 25px;
	border: 1px solid black;
	font-weight: bold;
	cursor: pointer;
}

.searchButton:hover {
	background: white;
	color: black;
}

.wrapper {
	padding-left: 50px;
}
