.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.play {
  flex-grow: 2;
  position: relative;
}

.play:hover .back {
  transform: translateY(0);
}

.back {
  position: absolute;
  transform: translateY(-100%);
  top: 0;
  right: 0;
  transition: .2s all ease;
  -webkit-app-region: no-drag;
  font-size: 32px;
  padding: 10px;
  cursor: pointer;
  z-index: 10000;
}

.back:hover {
  opacity: 0.8;
}
