.className {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #28214e;
  width: 25%;
  /*margin: 10px;*/
  margin: 0;
  float: left;
  background-repeat: no-repeat;
  min-width: 400px;
  overflow: hidden;
  flex-grow: 1;
  font-weight: 200;
}

.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0,0,0,.5) 20%,rgba(125,185,232,0) 100%);
}

.title {
  color: white;
  text-align: center;
  font-weight: 200;
  padding: 0px 10px;
}

.bottom {
  position: absolute;
  width: 100%;
  height: 60px;
  color: white;
  bottom: 0px;
  left: 0;
  display: flex;
  background: linear-gradient(to top, rgba(0,0,0,.5) 20%,rgba(125,185,232,0) 100%);
  justify-content: space-between;
}

.viewers {
  min-width: 120px;
  justify-content: flex-start;
}

.game {
  min-width: 300px;
  justify-content: flex-end;
}

.game, .viewers {
  overflow: hidden;
  padding: 10px;
  display: flex;
  white-space: nowrap;
}

.game i, .viewers i {
  align-self: center;
  flex-flow: column;
}

.game span, .viewers span {
  padding-left: 10px;
  align-self: center;
}

.bg {
  transition: .2s all ease;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  transition: .3s all ease;
}

.className:hover img {
  opacity: 0.8;
}
